/* Establece estilos básicos para el cuerpo y la fuente */
body {
    font-family: Arial, sans-serif; /* Usa Arial como la fuente predeterminada */
    margin: 0;
    padding: 0;
    background: #f4f4f4; /* Color de fondo claro para la página */
    color: #333; /* Color de texto oscuro para mejor contraste */
}

/* Estilos para el encabezado */
header {
    background-color: #0056b3; /* Un azul oscuro como fondo */
    color: #ffffff; /* Texto blanco para contraste */
    text-align: center; /* Centra el texto */
    padding: 20px 0; /* Espaciado interno arriba y abajo */
}

.logo {
    width: 100px; /* Tamaño específico para el logo */
    height: auto; /* Altura automática para mantener la proporción */
}

/* Estilos para la sección principal */
#main-content {
    text-align: center; /* Texto centrado para esta sección */
    padding: 20px; /* Espaciado interno */
    background: #ffffff; /* Fondo blanco para esta sección */
    margin: 20px; /* Margen externo */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra ligera para dar profundidad */
}

/* Estilos para el footer */
footer {
    background-color: #333; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    text-align: center; /* Centra el texto */
    padding: 10px 0; /* Espaciado interno arriba y abajo */
    position: fixed; /* Posición fija */
    width: 100%; /* Ancho total */
    bottom: 0; /* Colocado al final de la página */
}

img {
    max-width: 90%; /* Ancho máximo para todas las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    display: block; /* Asegura que la imagen no tenga elementos inline */
    margin: 10px auto; /* Margen automático para centrar imágenes */
}
